# Godot 4+ specific ignores
.godot/
/android/
Build/TestTestPontMiam.exe
Build/TestTestPontMiam.pck
build/windows/TestTestPontMiam.exe
build/windows/TestTestPontMiam.exe607945287.tmp
build/windows/TestTestPontMiam.exe619246654.tmp
build/windows/TestTestPontMiam.pck
